[Unit]
Description=Volume down pin 26

[Service]
ExecStart=/usr/bin/python3 -u volume-up.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target

