[Unit]
Description=Volume down pin 20

[Service]
ExecStart=/usr/bin/python3 -u volume-down.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target

